<div class="container pt-5">
  <div class="row card-large">
    <div class="col-md-6 col-sm-12">
      <%= image_tag('champignon.jpg', :class => "card-img-top") %>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="card-title">
        <h1><%= @mushroom.name %></h1>
        <p class="card-text">Address : <%= @mushroom.address %></p>
        <p class="card-price"><%= @mushroom.price %> $</p>
        <p class="card-title mt-4 mb-1"><%= @mushroom.category %></p>
        <p class="card-title mt-4 mb-1">A little bit more about this mushRoom</p>
        <p class="card-description mb-4"><%= @mushroom.description %></p>
    </div>
   </div>
  </div> 
  <div class="row card-large">
    <div class="col"> <span class="card-subtitle"> Color: </span><%= @mushroom.color %></div>
    <div class="col"> <span class="card-subtitle">Owner: </span><%= @mushroom.user.name %></div>
    <div class="col"> <span class="card-subtitle">Eatable? </span><%= @mushroom.eatable %></div>
    <% if user_signed_in? %>
      <% if policy(@mushroom).edit? %>
        <div class="add-inputs">
        <%= link_to "Edit this mushroom", edit_mushroom_path(@mushroom), class:"btn btn-primary btn-lg  float-right" %>
        <br>
        <%= button_to "Destroy this mushroom", @mushroom, class:"btn btn-primary btn-lg  float-right mt-2", method: :delete if policy(@mushroom).destroy?%>
        </div>
      <% end %>
    <% else %>
      <div class="add-inputs">
        <%= link_to "Login to rent", new_user_session_path, class: "btn btn-primary btn-lg  float-right" %>
      </div>
      <div class="add-inputs mt-2">
        <%= link_to "Register to rent", new_user_registration_path, class: "btn btn-primary btn-lg  float-right" %>
      </div>
    <% end %>
  </div>
</div>
