<div class="container">
  <h1><%= @mushroom.name %></h1>
  <div class="card mb-3">
    <%= image_tag('champignon.jpg', :class => "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title">Category : <%= @mushroom.category %></h5>
      <p class="card-text">Color : <%= @mushroom.color %></p>
      <p class="card-text">Owner : <%= @mushroom.user.name %></p>
      <p class="card-text">Address : <%= @mushroom.address %></p>
      <p class="card-text">Description : <%= @mushroom.description %></p>
      <p class="card-text"><small class="text-muted">Price : <%= @mushroom.price %> gold coin</small></p>
    </div>
  </div>
</div>

<% if policy(@mushroom).edit? %>
  <%= link_to "Edit this mushroom", edit_mushroom_path(@mushroom) %> |
<% end %>
<!-- [...] -->
<%= button_to "Destroy this mushroom", @mushroom, method: :delete if policy(@mushroom).destroy? %>
