<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @mushrooms.each do |mushroom| %>
      <div class="col">
          <div class="card mt-5">
            <% if mushroom.photos.attached? %>
              <%= cl_image_tag mushroom.photos.first.key, height: 250, class: "card-img-top" %>
            <% else %>
              <%= image_tag('champignon.jpg', :class => "card-img-top") %>
            <% end %>
            <div class="avatar-card-home">
              <%= cl_image_tag User.find(mushroom.user_id).avatar.key, class: "avatar" %>
            </div>
            <div class="card-body">
              <h2 class="card-title"><%= link_to mushroom.name, mushroom_path(mushroom)%></h2>
              <p class="card-text text-truncate-description">
              <%= mushroom.description.truncate(200, separator: " ") %>
              </p>

              <br>
              <p class="card-text">
              <% if mushroom.price < 100 %>
                <p class="text-success bg-danger text-center">
                <strong> ONLY : <%= mushroom.price %> Gold Coins </strong>
                </p>
              <% else %>
                <p class="card-text">
                <strong> Price : <%= mushroom.price %> Gold Coins </strong>
                </p>
              <% end %>
              </p>
              <%= link_to new_mushroom_booking_path(mushroom.id) do %>
                <div class="text-end">
                  <div class="card-body text-center">
                  <% if policy(mushroom).edit? %>
                    <%= link_to "Edit", edit_mushroom_path(mushroom), class: "custom-button" %>
                  <% else%>
                    <%= link_to "Mush Me", new_mushroom_booking_path(mushroom.id), class: "custom-button" if policy(mushroom).new? %>
                  <% end %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="card-footer">
              <small class="text-muted"></small>
              <h6><strong><%= mushroom.average %> </strong><%= 'â­' * mushroom.average %> </strong></h6>
            <%# ajouter la moyenne des notes de reviews dans le futur %>

              </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
