<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @mushrooms.each do |mushroom| %>
      <div class="col">
          <div class="card">
            <% if mushroom.photos.attached? %>
              <%= cl_image_tag mushroom.photos.first.key, crop: :fill, class: "card-img-top" %>
            <% else %>
              <% image_tag('champignon.jpg', :class => "card-img-top") %>
            <% end %>
            <div class="card-body">
              <h2 class="card-title"><%= link_to mushroom.name, mushroom_path(mushroom)%></h2>
              <p class="card-text"><%= mushroom.description.truncate(200, separator: " ") %></p>
              <br>
              <p class="card-text"><strong>Price : <%= mushroom.price %> Gold Coins</strong></p>
              <%= link_to new_mushroom_booking_path(mushroom.id) do %>
                <div class="text-end">
                  <div class="card-body">
                    <button class="btn btn-primary">Mush Me</button>
                </div>
              </div>
              <% end %>

            </div>
            <div class="card-footer">
              <small class="text-muted"></small>
              <p>No review yet !</p>
            <%# ajouter la moyenne des notes de reviews dans le futur %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>

<%# <%= cl_image_tag mushroom.photo.key, crop: :fill, height: 150, width: 200, class:"card-img-top" %>
