<div class="container text-center">
    <div class="card-search text-center">
    <h5><strong>Choisissez une catégorie de Mush</strong></h5>
    <%= form_with url: root_path, method: :get, class: "" do |form|%>
      <%# <%= form.text_field :query, { value:params[:query], class: "form-control", placeholder: "Search by name" }%>
      <%# <%= form.check_box :eatable, label: "Eatable"  %>
      <%#= form.check_box :trippy value: "1"  %>
      <%# <div> %>
      
        <%= form.select :query, [" ", "Truffle", "Puffball", "Chanterelles", "Bolete"], class:"cat-input"%>
      <%# </div> %>
      <%# <%= form.select :trippy, [" ", "Yes", "No"]  %>
      <%# <%= form.select :eatable, [" ", "Yes", "No"]  %>
      <%= submit_tag "Search", class: "custom-button" %>
    <% end %>
    </div>
</div>
