<div class="mymush">
  <p>Réservation de <%= @user.name %> </p>
</div>

<div class="container d-flex justify-content-center">
  <div class="card h-100">
    <div class="card-renter-content">
      <div class="d-flex justify-content-between align-items-center">
        <% if @user.avatar.attached? %>
          <%= cl_image_tag @user.avatar.key, class: "avatar"%>
        <% else %>
          <%= image_tag "smurf.png", class: "avatar"%>
        <% end %>
        <p id="date" class="m-0">Du <%= @booking.start_date %> au <%= @booking.end_date %></p>
      </div>
      <p class="my-3 border border-5"><%= @booking.comment %></p>
      <%= simple_form_for(@booking) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs">
          <%= f.input :status, :label => 'Voulez-vous Accepter ou Refuser cette réservation?', :collection => %w[approuver refuser]%>
        </div>
        <%= f.button :submit, "Update Reservation", class: "logbtn" %>
      <% end %>
    </div>
  </div>
</div>
