<div class="container">
  <%= simple_form_for [@mushroom, @booking] do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.input :comment %>
    <%= f.button :submit, :class => "custom-button" %>
  <% end %>
</div>
